@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hover-capable {
  @media (hover: hover) {
    @slot;
  }
}

:root {
  --header-height: 3.5rem;
  --mobile-toc-height: 2.75rem;
}

@media (min-width: theme(--breakpoint-md)) {
  :root {
    --header-height: 4.5rem;
  }
}

@media (min-width: theme(--breakpoint-xl)) {
  :root {
    --mobile-toc-height: 0rem;
  }
}

@layer base {
  html {
    color-scheme: light;
    scroll-padding-top: calc(
      var(--header-height) + var(--mobile-toc-height)
    );
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply text-base text-gray-800 dark:text-gray-300 bg-gray-100 dark:bg-gray-900;
  }

  pre {
    @apply pr-14 pl-[11px] py-4 rounded-lg overflow-x-auto;
  }

  pre code {
    @apply block;
  }

  pre code .line {
    @apply leading-6;
  }

  pre code .line[data-line]::before {
    content: attr(data-line);
    @apply inline-block mr-4 text-right text-gray-500 select-none border-r border-gray-600 pr-4;
  }

  pre[data-line-digits='1'] code .line[data-line]::before {
    @apply w-8;
  }

  pre[data-line-digits='2'] code .line[data-line]::before {
    @apply w-10;
  }

  pre[data-line-digits='3'] code .line[data-line]::before {
    @apply w-12;
  }
}
