@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --header-height: 3.5rem;
}

@media (min-width: theme(--breakpoint-md)) {
  :root {
    --header-height: 4.5rem;
  }
}

@layer base {
  html {
    color-scheme: light;
    scroll-padding-top: var(--header-height);
  }

  html.dark {
    color-scheme: dark;
  }

  body {
    @apply text-base text-gray-600 dark:text-gray-300 bg-white dark:bg-gray-900;
  }

  pre {
    @apply pr-14 pl-[11px] py-4 rounded-lg overflow-x-auto;
  }

  pre code {
    @apply block;
  }

  pre code .line {
    @apply leading-6;
  }

  pre code .line[data-line]::before {
    content: attr(data-line);
    @apply inline-block mr-4 text-right text-gray-500 select-none border-r border-gray-600 pr-4;
  }

  pre[data-line-digits='1'] code .line[data-line]::before {
    @apply w-8;
  }

  pre[data-line-digits='2'] code .line[data-line]::before {
    @apply w-10;
  }

  pre[data-line-digits='3'] code .line[data-line]::before {
    @apply w-12;
  }
}
